<h1>Acesso restrito</h1>
<p> Se você recebeu um convite e uma chave para acessar este site, digite sua senha abaixo e terá acesso.</p>
<p> Em caso de dúvidas ligue para a gente. </p>
<form action="/secret/index" method="post">
	<h2>Qual a senha?</h2>
	<p><input name="secret" type="password"></p>
	<input type="submit" name="haha" value="Entrar">
</form>