<h1>Arquivos</h1>
<% for file in @files %>
  <% if File.directory? file %>
    <b><%= link_to file, "/browser/?folder=" + file %></b><br/>
  <% else %>
    <%= link_to file, "/editor/?file=" + file, :target => "editor" %><br/>
  <% end %>
<% end %>

<% if params[:folder]%>
  <%= link_to "Up", "/browser/" %>
<% end %>
<br/>
<hr/>
<form action="/browser/new_file">
  <input type="text" name="file_name" value="novo arquivo" style="width: 80px">
  <input type="submit" value="Ok">
</form>
<form action="/browser/new_folder">
  <input type="text" name="folder_name" value="nova pasta" style="width: 80px">
  <input type="submit" value="Ok">
</form>
Enviar Arquivo<br/>