<html>
<head>
  <title>Fedie</title>
</head>
<frameset border="1" borderCOLOR="#3A72BC" cols="15%,*">
<frame NAME="browser" src="/browser" NORESIZE borderCOLOR="#3F85B8" target="editor">
<frame NAME="editor" src="/editor" NORESIZE borderCOLOR="#4086C6" target="editor">
<noframes>
  <body>
  </body>
</noframes>
</frameset>
</html>

